<!-- Clients Aside -->
    <aside class="clients bg-light-gray">
        <div class="container">

          <div class="row">
              <h3 class="text-center">Right Click Affiliate Links:</h3>
          </div>


            <div class="row">

                <div class="col-md-6 col-sm-12">
                  <a href="http://www.WeRecoverData.com/landingpagepartner.aspx?partnerid=127976">
                      <img src="http://www.WeRecoverData.com/images/Partner.gif" class="img-responsive img-centered" alt="WeRecoverData.com Data Recovery Labs">
                  </a>
                </div>

                <div class="col-md-6 col-sm-12">
                    <a href="http://www.dot5hosting.com/join/index.bml?bannerID=265&AffID=746802">
                        <img src="http://www.dot5hosting.com/affiliate/banners/265" class="img-responsive img-centered" alt="dot 5 hosting">
                    </a>
                </div>
                
                <div class="col-md-6 col-sm-12">
                  <a href="http://www.kqzyfj.com/click-7370360-10453283">
                    <img src="http://www.tqlkg.com/image-7370360-10453283" class="img-responsive img-centered" alt="Panda Security Software">
                  </a>
                </div>

                <div class="col-md-6 col-sm-12">
                    <a href="http://www.kqzyfj.com/click-7370360-11015368">
                        <img src="http://www.ftjcfx.com/image-7370360-11015368" class="img-responsive img-centered" alt="">
                    </a>
                </div
            </div>


        </div>
    </aside>
