<section id="contact">
        <div class="container">
            <!-- <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">CALL: 515-423-0884</h3>
                    <h3>117 S Main St, Woodward, IA 50276</h3>
                </div>
            </div> -->
            <div class="row">


                <div class="col-md-4 text-center">

                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <br><br>
                                <h2 class="section-heading">Location</h2>
                                <h3 class="address" style="color:#ffffff">
                                    {% for address in site.address %}
                                    {{address}}
                                    {% endfor %}
                                </h3><br>

                                </div>
                        </div>

                        <div class="col-lg-12">
                              <div class= "text-center">
                                  <a href="https://goo.gl/maps/Pm67B2q3j8u"
                                     class="page-scroll btn btn-xl corners"  target="_blank">
                                      <div>Get Directions</div>
                                  </a>
                                  <a href="https://goo.gl/maps/Pm67B2q3j8u"
                                     target="_blank">

                                      <!--<br><img src="img/Maps-Google.png" width="250px" alt="">-->
                                  </a>
                              </div>
                          </div>

                          <div class="row">
                              <div class=" col-lg-12 text-center">
                                 <br> <br><h2 class="section-heading text-muted">Phone</h2><br>
                              </div>
                          </div>
                          <div class= "text-center ">
                              <a href="tel:5154230884" class="page-scroll btn btn-xl corners"><div>515-423-0884</div></a>
                          </div>
                      <br><br>


                        </div>

                        <div class="col-md-8 text-center">
                          <div class="col-lg-4 col-md-6 col-lg-offset-1">
                            <iframe
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3850.228093443294!2d-93.92387398422004!3d41.85704667470981!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87edcd4bf62f9fe3%3A0xd7b12b7ec44381cf!2sRight+Click+Woodward!5e1!3m2!1sen!2sus!4v1550548334681"
                              width="600"
                              height="450"
                              frameborder="0"
                              style="border:0"
                              allowfullscreen
                              >
                            </iframe>
                          </div>
                        </div>

                      <br><br>



            </div>
        </div>
    </section>
